@CHARSET "ISO-8859-1";

/*
	Gelb: #FFED00
	Grün: #95C11F
*/

body {
	background-color: #E6E6E6;
	font-family: Arial,Helvetica,  Sans-Serif;
	text-align:center;
	font-size: 9pt;
}

a:link, a:visited{
	text-decoration: none;
	color: black;
}

div {
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}

div#header {
	margin-top: 10px;
	height: 150px;
	text-align:left;
	background-color: white;
}


div#menue {
	float:left;
	height: 30px;
	width: 100%
}

div#leftPanel {
	float:left;
	width:16%;
	border: 0px solid black;
	background-color: white;
	border-left: 2px #E6E6E6 solid;
	min-height:1000px;
}

.ui-menu {
	width:96%;
}

div#content {
	float: left;
	min-height: 660px;
	background-color: white;
	margin-left:2px;
	width: 83.5%;
}

div#footer {
	float:left;
	padding-top:5px;
	width: 87%;
	margin-left:2px;
	margin-right:10px;
	text-align:right;
	background-image:url(images/bg_rasen.jpg);
	height: 60px;
}

/*###############################################*/

h1 {
	text-align: center;
	color: #95C11F;
}

h2 {
	text-align: center;
	color: #FFED00;
}

table {
	font-size: 10pt;
}

table tr {
	vertical-align: top;
}

table.content{
	width: 75%;
	border-color:black;
	border-size: 1px;
	border-style: solid;
	margin-left: 200px;
	margin-top: 20px;
}

table.content tr{
	border-top: 1px solid black;	
}

table.content th.header{
	background-color: #FFED00;
	text-align: left;
}

table.content td.footer{
	text-align:right;
}

table.profil {
}


table.content tr.odd{
	background-color: #E6E6E6;
}

table.content tr.even{
	background-color: #EEEEEE;
}

label {
	font-family: Arial;
	font-size:10pt;
}

p {
	text-align:left;
	padding-left: 10px;
}

input.searchInputField {
	width: 250px;
	background-color: red;
}

.error {
	color:red;
}

.ui-growl {
	top:20px;
    left:20px;
}

.contentPanel {
	margin-top: 20px;
	margin-left:100px;
	width: 80%;
	min-height: 600px;
	text-align:left;
}

.loginPanel {
	margin-top: 20px;
	margin-left:150px;
	width: 28%;
	text-align: center;
}

.ui-wizard-step-title {
	font-size: 10pt;
}


.ui-radiobutton-box {
	height: 10px;
}

.detailTable {
	text-align: left;
	width: 500px;
	border: 0px solid black;	
}
.detailTable td {
	padding-left: 5px;
}

.bold {
	font-weight:bold;
}

.ui-panelgrid .ui-panelgrid-cell {
	border 0px;
	padding: 4px 10px;
	border-width:0px;
}

.ui-inputfield {
	width: 250px;
}